<!DOCTYPE html>
<title>Osteoporosis</title>
<head>
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<nav class="bg-white border-b border-gray-200">
  <div class="container mx-auto py-4 flex items-center justify-between">
    <div class="font-bold">Osteoporosis</div>
    <a href="/download">
      <button
        class="text-sm font-medium text-gray-700 hover:text-black cursor-pointer h-8"
      >
        Download
      </button>
    </a>
  </div>
</nav>
<body class="bg-slate-100">
  <section>{% block content %}{% endblock %}</section>
</body>
